/* card */
$card-bg: #fff;
$card-min-height: 100vh;


/*	card header */
$card-header-height:50px;
$card-header-line-height:50px;
$card-header-bg:#f39c12;
$card-header-title: 18px;

/* component modify */
 $card-header-primary-bg:#f1c40f;
 $card-header-info-bg:#3498db;