*,
*:after,
*:before{
	box-sizing: border-box;
}

body{
	padding: 10px;
	background: #2c3e50;
	@media(orientation:landscape){
		background: red;
	}
}
/* Component card */
@import "card/card.scss";
/* Component comentario */
@import "comentario/comentario.scss"