*,
*:after,
*:before{
	box-sizing: border-box;
}

body{
	padding: 5px;
	background: #2c3e50;
	@media(orientation:landscape){
		
	}
}
@import "../components/bootstrap/scss/bootstrap";
/* Component card */
@import "card/card.scss";

.offcanvas{
	width: 80%;
	height: 100%;
	position: fixed;
	left: -80%;
	top:0;
	background: #fff;
	z-index: 1;
	transition: left .2s;
}

.open:after{
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.4);
}

.open .offcanvas{
	left: 0;
}

.nav {

	background-color: #27ae60;
	font-size: 1.5rem;
	@extend .col-lg-2;
	@extend .col-md-2;
	color: #ecf0f1;
	padding-right: 0;
	padding-top: .5rem;
	p{
		@extend .text-xs-center;
		@extend .text-md-center;
	}
		
}

.nav-item{
	border-top: 1px solid #2b6b2c;
	font-size: 1rem;
	padding-left: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	
}