/* comentario */
$comentario-bg: #fff;
$comentario-min-height: 40px;


/*	comentario header */
$comentario-header-height:50px;
$comentario-header-line-height:50px;
$comentario-header-bg:#2980b9;
$comentario-header-title: 22px;

/* component modify */
 $comentario-header-primary-bg:#f1c40f;
 $comentario-header-info-bg:#3498db;

$comentario-paragrafo-bg:#ecf0f1;
 $comentario-paragrafo-font-style:italic;
 $comentario-paragrafo-font-size:medium;

